<nav  id="liveAlert" *ngIf="mostrarMensagem" class="alert alert-success" role="alert" [ngClass]="{'alert': true, 'alert-success': sucesso, 'alert-danger': !sucesso}">
  {{ mensagem }}
</nav>

<main class="container">
  <label>Selecione um Cliente:</label>
  <select class="form-select" [(ngModel)]="selectedClient" (ngModelChange)="onClientSelectionChange()" required>
    <option *ngFor="let client of clientDatas" [ngValue]="client">{{ client.name }}</option>
  </select>

<br>

<article *ngIf="selectedClient && mostrarCamposInput">
  <h3>Detalhes do cliente Selecionado:</h3>

  <p>
    CPF:
    <input type="text" class="form-control" [ngModel]="selectedClient.cpf" name="cpf" disabled>
  </p>

    <p>
      Nome:
      <input type="text" class="form-control" [(ngModel)]="selectedClient.name" name="name"  required >
    </p>

    <p>
      E-mail: <input type="text" class="form-control" [(ngModel)]="selectedClient.email" name="email" required>
    </p>
    <p>
      Data Aniversario: <input type="tel" class="form-control" [(ngModel)]="selectedClient.dateOfBirth" name="dateOfBirth"/>
    </p>
    <button class="btn btn-primary" (click)="atualizarClient()">Alterar</button>
  </article>
</main>
