
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  min-height: auto;
  background-color: #f0f0f0;
  padding: 20px;
}


form input[name="cpf"] {
  width: 100%;
  max-width: 300px;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

form button {
  margin: 5px 10px;
  align-items: center;
}

article p {
  margin-bottom: 10px;
}
