<header>
  <nav>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-primary" routerLink="/">Início</button>
    </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Cliente
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" routerLink="/client-new">Cadastrar</a></li>
      <li><a class="dropdown-item" routerLink="/client-list">Lista de Clientes</a></li>
      <li><a class="dropdown-item" routerLink="/client-alter">Alterar</a></li>
      <li><a class="dropdown-item" routerLink="/client-delet">Deletar</a></li>
    </ul>
  </div>

  <div class="btn-group" role="group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Produto
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" routerLink="/product-new">Cadastrar</a></li>
      <li><a class="dropdown-item" routerLink="/product-list">Ver Produtos</a></li>
      <li><a class="dropdown-item" routerLink="/product-alter">Alterar</a></li>
      <li><a class="dropdown-item" routerLink="/product-delet">Deletar</a></li>
    </ul>
  </div>

  <div class="btn-group" role="group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Venda
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" routerLink="/sale-new">Cadastrar</a></li>
      <li><a class="dropdown-item" routerLink="/sale-list">Ver Vendas</a></li>
      <li><a class="dropdown-item" routerLink="/sale-alter">Alterar</a></li>
      <li><a class="dropdown-item" routerLink="/sale-delet">Deletar</a></li>
    </ul>
  </div>
</nav>
</header>

<router-outlet></router-outlet>
